<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <clear />
    <add name="FingerprintConnectionString" connectionString="Data Source=.\MSSQL;Initial Catalog=fingerprintstest;Integrated Security=True; Connection Timeout=15;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="trace" value="0" />
    </switches>
    <trace autoflush="true" indentsize="5">
      <listeners>
        <clear />
        <add name="DemoListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="output.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>