<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MongoDbConnectionSection" type="SoundFingerprinting.MongoDb.Connection.MongoDbConnectionSection, SoundFingerprinting.Dao.MongoDb" />
  </configSections>

  <MongoDbConnectionSection connectionString="mongo://localhost" databaseName ="FingerprintsDb" />
</configuration>