release/
debug/
src/.vs/
msbuild.log
*.suo
*.user
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
*.nupkg
TestResult.xml
src/TestResults/
.vagrant
packages*/
*.exe
!NuGet.exe
build/