language: csharp
solution: src/SoundFingerprinting.sln
install:
  - nuget restore src/SoundFingerprinting.sln
  - nuget install NUnit.Runners -Version 3.5.0 -OutputDirectory build/testrunner
script:
  - xbuild /p:Configuration=Release src/SoundFingerprinting.sln
  - mono build/testrunner/NUnit.ConsoleRunner.3.5.0/tools/nunit3-console.exe src/SoundFingerprinting.Tests/bin/Release/SoundFingerprinting.Tests.dll --where="cat!=RequiresWindowsDLL"
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/846dee77235fe9abbb02
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

