<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="BassConfigurationSection" type="SoundFingerprinting.Audio.Bass.BassConfigurationSection, SoundFingerprinting" />
  </configSections>

  <BassConfigurationSection email = "gleb.godonoga@gmail.com" registrationKey = "2X155323152222" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
