<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.7.1" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="SoundFingerprinting" version="1.0.0.33376" targetFramework="net45" />
  <package id="SoundFingerprinting.Audio.Bass" version="1.0.0.33376" targetFramework="net45" />
  <package id="SoundFingerprinting.Audio.NAudio" version="1.0.0.33376" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>