<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <clear />
    <add name="FingerprintConnectionString" connectionString="Data Source=.\MSSQL;Initial Catalog=FingerprintsDb;Integrated Security=True; Connection Timeout=15;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>