<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BassConfigurationSection" type="SoundFingerprinting.Audio.Bass.BassConfigurationSection, SoundFingerprinting" />
  </configSections>

  <connectionStrings>
    <add name="FingerprintConnectionString" connectionString="Data Source=(local);Initial Catalog=fingerprintstest;Integrated Security=True; Connection Timeout=15;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <BassConfigurationSection email = "gleb.godonoga@gmail.com" registrationKey = "2X155323152222" />

</configuration>