<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- optional, add some variables
    https://github.com/nlog/NLog/wiki/Configuration-file#variables
    -->
    <variable name="myvar" value="myvalue"/>

    <!--
    See https://github.com/nlog/nlog/wiki/Configuration-file
    for information on customizing logging rules and outputs.
     -->
    <targets>
        <target xsi:type="Console"
                name="console"
                layout="${longdate} ${level} ${message} ${exception:format=toString}"
                encoding="UTF-8"
                error="true"
                detectConsoleAvailable="true" />

        <target name="logfile" xsi:type="File"
                fileName="nlog.log"
                layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"
                concurrentWrites="false"
                archiveAboveSize="5242880"
                maxArchiveFiles="20"
                archiveFileName="{#######}.log" />

        <target name="errorlogfile" xsi:type="File"
                fileName="errors.log"
                layout="${longdate} ${level:uppercase=true} ${logger} ${threadid} ${message} ${exception:format=tostring}"
                concurrentWrites="false"
                archiveAboveSize="5242880"
                maxArchiveFiles="20"
                archiveFileName="{#######}-error.log" />

    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
        <logger name="*" minlevel="Warn" writeTo="errorlogfile" />
    </rules>
</nlog>
